{{#section "education"}}
<hr>
<section id="education">
  {{#> header-education }}
    {{> header-icon _title="EDUCATION" _section="education" _hdricon=(lookup . '_icon') }}
  {{/header-education}}
  {{#each r.education.history}}
    {{#> body-education }}
    <div>
      <h3>
        <em>{{{ institution }}}</em>,
          {{#if title}}
            {{{ title }}}
          {{else}}
            {{#if studyType}}{{{ studyType }}}{{/if}}
          {{/if}}
      </h3>
      <span class="tenure">{{dateRange .}}</span>
      {{#if location}}<span class="location">{{location}}</span>{{/if}}
      <br><br>
      {{#if summary}}
        {{{ summary }}}
      {{else}}
        {{{ area }}}
      {{/if}}
      <br>
      {{> highlights }}
      {{#if curriculum}}
        <span class="keywords">
          {{#each curriculum}}{{{ . }}}{{#unless @last}} | {{/unless}}{{/each}}
        </span>
      {{/if}}
    </div>
    {{/body-education}}
  {{/each}}
</section>
{{/section}}
